.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Card-back {
  height: 40vmin;
}
.deck-grid {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.Three-spread{
  border: dotted black 1em;
}
.ul{ 
  list-style-type: none;
}
.deck-grid li {
  padding: 2px 2px;
  text-align: left;
  list-style-type: none;
}
.card{
  width: auto;
  border-left: solid;
}
.card-grid{
 width: calc(30px + 2vmin);
}

.Draw_card{
  color: #61dafb;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
