.App {
  text-align: center;
}

.Card-back {
  height: 40vmin;
}
.card-grid {
  
  transition: all 1s cubic-bezier(0.68,-.55,.265,1.55);
  
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;

  width: 222px;
  height: 311px;
  background-color:#eee;
  right: 0;
  bottom: 0;
}
.spread{
  margin-right: 100px;
}
.deck-grid {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.Three-spread{
  border: dotted black 1em;
}
.ul{ 
  list-style-type: none;
}
.deck-grid li {
  padding: 2px 2px;
  text-align: left;
  list-style-type: none;
}
.card{
  width: auto;
  border-left: solid;
}
.card-grid{
 width: calc(30px + 2vmin);
}

.Draw_card{
  color: #61dafb;
}
.App-header {
  
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
